<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Disable WebDAV to prevent 405 errors -->
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
		</modules>

		<handlers>
			<!-- Ensure all verbs are allowed for ASP.NET Core -->
			<remove name="aspNetCore" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
	</system.webServer>
</configuration>
